<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Find ID</title>
    <link rel="stylesheet" href="/css/findId.css" />
  </head>
  <body>
    <div class="findId">
      <div class="findId-container">
        <div id="findId-info__email">
          <input type="text" placeholder="이메일을 입력하세요." id="findId-email"/>
        </div>
        <div id="yourIdContainer">
          <input type="text" id="yourId" disabled/>
        </div>
        <div id="findId__button">
          <button type="button">아이디 찾기</button>
        </div>
        <div class="findId-back">
          <a href="/login/signIn">돌아가기</a>
        </div>
      </div>
    </div>
    <script src="/js/findid.js"></script>
  </body>
</html>
